@import 'colors';

.nav__cont {
  background: $grayLight;
}

.navigation {
  padding-top: 79px;

  ul {
    display: flex;
  }

  li {
    margin-right: 42px;

    &:last-child {
      margin-right: 0px;
    }
  }

  a {
    color: $dark;
    text-transform: uppercase;

    &.activ,
    &:hover {
      color: $darkblue;
    }
  }
}
