@import 'navbar';
@import 'header';
@import 'media';
@import 'about';
@import 'projects';
@import 'work';
@import 'fonts';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

._container {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.text {
  font-size: 16px;
  color: $grayDark;
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}
