@font-face {
    font-family: 'Courgette-Regular';
    src: url('./Courgette-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'WixMadeforDisplay-Bold';
    src: url('./Courgette-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Courgette-Regular';
    src: url('./Courgette-Regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}